<div class="gs-sidebar">
  <span class="gs-sidebar__section-title mt-1">
    <img
      src="/assets/images/filter.png"
      class="mr-2"
      alt="Filter"
      height="24"
    />
    Advance Filter
  </span>

  <span class="mt-3">Ratings</span>
  <div class="d-flex align-items-center mt-2">
    <input
      type="number"
      class="form-control gs-sidebar__select"
      (change)="onMinRatingChange($event)"
    />
    <input
      type="number"
      class="form-control gs-sidebar__select ml-2"
      (change)="onMaxRatingChange($event)"
    />
  </div>

  <span class="mt-3">Platforms</span>
  <div
    class="gs-sidebar__platform-item mt-2"
    *ngFor="let platform of platforms$ | async"
    (click)="togglePlatform(platform)"
  >
    <div
      class="gs-sidebar__platform"
      [class.gs-sidebar__platform--active]="platform.$$selected"
    >
      <img
        src="assets/images/platforms/{{ platform.svg }}"
        [alt]="platform.name"
        height="16"
      />
    </div>
    <span class="ml-2">
      {{ platform.name }}
    </span>
  </div>

  <span class="mt-3">Genres</span>
  <div class="d-flex flex-wrap mt-2">
    <span
      *ngFor="let genre of genres$ | async"
      class="gs-sidebar__genre-item m-1"
      [class.gs-sidebar__genre-item--active]="genre.$$selected"
      (click)="toggleGenre(genre)"
    >
      {{ genre.name }}
    </span>
  </div>
</div>
